@import url('./reset.scss');

.el-button{
  --el-button-text-color: #{$buttonPrimaryColor};
  --el-button-bg-color: white;
  --el-button-border-color: #{$buttonPrimaryColor};
  --el-button-hover-text-color: #{$buttonHoverColor};
  --el-button-hover-bg-color: white;
  --el-button-hover-border-color: #{$buttonHoverColor};
  --el-button-active-text-color: #{$buttonPressColor};
  --el-button-active-bg-color: white;
  --el-button-active-border-color: #{$buttonPressColor};
}


.el-button--primary{
    --el-button-text-color: white;
    --el-button-bg-color: #{$buttonPrimaryColor};
    --el-button-border-color: #{$buttonPrimaryColor};
    --el-button-hover-text-color: white;
    --el-button-hover-bg-color: #{$buttonHoverColor};
    --el-button-hover-border-color: #{$buttonHoverColor};
    --el-button-active-text-color: white;
    --el-button-active-bg-color: #{$buttonPressColor};
    --el-button-active-border-color: #{$buttonPressColor};
  }

  .el-button--primary.is-link{
    --el-button-text-color: #{$buttonPrimaryColor};
    --el-button-hover-link-text-color: #{$buttonHoverColor};
    --el-button-active-color: #{$buttonPressColor};
  }
  .el-button--danger.is-plain{
    --el-button-text-color: #{$buttonDangerTextColor};
    --el-button-bg-color: #{$buttonDangerColor};
    --el-button-border-color: #{$buttonDangerColor};
    --el-button-hover-text-color: #{$buttonDangerHoverTextColor};
    --el-button-hover-bg-color: #{$buttonDangerHoverColor};
    --el-button-hover-border-color: #{$buttonDangerHoverColor};
    --el-button-active-text-color: #{$buttonDangerPressTextColor};
    --el-button-active-bg-color: #{$buttonDangerPressColor};
    --el-button-active-border-color: #{$buttonDangerPressColor};
  }
  .el-button--danger.is-link{
    --el-button-text-color: #{$buttonDangerTextColor};
    --el-button-hover-link-text-color: #{$buttonDangerHoverTextColor};
    --el-button-active-color: #{$buttonDangerPressTextColor};
  }

  .el-table{
    --el-table-header-bg-color: #{$tableHeaderColor};
    --el-table-header-text-color: #{$tableHeaderTextColor};
  }


  .dialog_header{
    margin-bottom: 1rem;
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    h4 {
      color: white;
      padding-left: 1rem;
    }
  }
  .dialog_header::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: -1rem;
    bottom: -1rem;
    right: -1rem;
    background-color: $mainColor;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: -1;
  }